/* ------------- HEADER ------------- */


body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.logo {
    border-radius: 5px;
    vertical-align: bottom;
    margin-left: 70px;
}

.head-text {
    color: #ff0087;
    font-weight: 600;
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 800px;
}

.btn1 {
    background-color: #FFFFFF;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: #ff0087;
    border-width: 1px;
    color: #ff0087;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn1:hover {
    background-color: #fac5e2;
    padding: 10px;
    border-radius: 8px;
    color: #ff0087;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn2 {
    background-color: #ff0087;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn2:hover {
    background-color: #fac5e2;
    padding: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.region {
    border-style: solid;
    border-color: #ff0087;
    border-width: 2px;
    padding: 1px;
    margin-right: 10px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.region:hover {
    background-color: #fac5e2;
    border-style: solid;
    border-color: #ff0087;
    border-width: 2px;
    padding: 1px;
    margin-right: 10px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------- MAIN-FRONT ------------- */

.box1 {
    background-color: #f7f7f7;
    height: 579px;
}

.main-heading {
    font-weight: 400;
    font-size: 40px;
    padding-top: 150px;
    padding-left: 60px;
}

.box1-logo {
    position: absolute;
    margin-left: 769px;
    top: 105px;
}

.btn3 {
    background-color: #ff0087;
    padding: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn3:hover {
    background-color: #fac5e2;
    padding: 15px;
    margin-right: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-box {
    border-radius: 20px;
    border-style: solid;
    margin-top: 45px;
    margin-left: 60px;
    width: 700px;
    height: 80px;
    border-color: #FFFFFF;
    box-shadow: rgba(20, 20, 22, 0.2) 2px 7px 29px 0px;
}

.label {
    position: absolute;
    padding: 0;
    top: 430px;
    left: 525px;
    color: #ff0087;
    font-weight: 500;
    cursor: pointer;
}

.fa-location-crosshairs {
    position: absolute;
    padding: 0;
    top: 433px;
    left: 500px;
    cursor: pointer;
}

.input-field {
    border-radius: 5px;
    border-color: #333333;
    border-width: 1px;
    padding: 15px;
    width: 500px;
    margin-top: 15px;
    margin-left: 20px;
}

/* ------------- SECOND-FRONT ------------- */

.heading1 {
    font-weight: 400;
    font-size: 33px;
    padding-top: 50px;
    padding-left: 60px;
}

.btn4 {
    background-color: #ff0087;
    padding: 15px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn4:hover {
    background-color: #fac5e2;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descriptive {
    background-color: #FFFFFF;
    position: absolute;
    top: 1050px;
    left: 60px;
    margin-top: 20px;
    width: 550px;
    height: 330px;
    border-radius: 20px;
    box-shadow: rgba(20, 20, 22, 0.2) 2px 7px 29px 0px;
    border-width: 1px;
    padding-top: 2px;
    padding-right: 30px;
    padding-left: 30px;
}

.heading2 {
    font-weight: 400;
    font-size: 25px;
}

/* ------------- THIRD-FRONT ------------- */

.heading3 {
    font-weight: 400;
    font-size: 33px;
    padding-top: 200px;
    padding-left: 60px;
}

/* ------------- CITIES ------------- */

.cities {
    margin-left: 30px;
    margin-right: 30px;
}

.cities>img {
    cursor: pointer;
    border-radius: 20px;
    margin: 9px;
}

.cities>span {
    position: absolute;
    font-size: 20px;
}

.karachi,
.islamabad,
.lahore,
.faisalabad,
.rawalpindi,
.abbottabad,
.bahawalpur,
.dera-ghazi-khan,
.gujranwala,
.gujrat,
.hyderabad,
.jhelum,
.kamoke,
.larkana,
.mangla,
.mardan,
.multan,
.muree,
.okara,
.pano-aqil,
.peshawar,
.quetta,
.rahim-yar-khan,
.sadiqabad,
.sahiwal,
.sargodha,
.sheikhupura,
.sialkot,
.sukkur,
.wah-cantt {
    cursor: pointer;
    background-color: #FFFFFF;
    padding: 10px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 10px;
}

.karachi,
.islamabad,
.lahore,
.faisalabad {
    top: 1740px;
}

.rawalpindi,
.abbottabad,
.bahawalpur,
.dera-ghazi-khan {
    top: 2030px;
}

.gujranwala,
.gujrat,
.hyderabad,
.jhelum {
    top: 2320px;
}

.kamoke,
.larkana,
.mangla,
.mardan {
    top: 2610px;
}

.multan,
.muree,
.okara,
.pano-aqil {
    top: 2898px;
}

.peshawar,
.quetta,
.rahim-yar-khan,
.sadiqabad {
    top: 3186px;
}

.sahiwal,
.sargodha,
.sheikhupura,
.sialkot {
    top: 3476px;
}

.sukkur,
.wah-cantt {
    top: 3766px;
}

.islamabad, .rawalpindi, .gujranwala, .kamoke, .multan, .peshawar, .sahiwal, .sukkur {
    left: 55px;
}

.karachi, .abbottabad, .gujrat, .larkana, .muree, .quetta, .sargodha, .wah-cantt {
    left: 375px;
}

.lahore, .bahawalpur, .hyderabad, .mangla, .okara, .rahim-yar-khan, .sheikhupura {
    left: 700px;
}

.faisalabad, .dera-ghazi-khan, .jhelum, .mardan, .pano-aqil, .sadiqabad, .sialkot {
    left: 1020px;
}

/* ------------- FOURTH-FRONT ------------- */

.heading4 {
    font-weight: 400;
    font-size: 33px;
    padding-top: 60px;
    padding-left: 60px;
}

.advertise {
    background-color: #ff0087;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 60px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    width: 1153px;
    height: 330px;
}

.qr-code {
    border-style: solid;
    border-color: #FFFFFF;
    width: 88px;
    padding: 6px;
    border-radius: 6px;
    border-width: 1px;
}

.heading5 {
    font-weight: 450;
    color: #FFFFFF;
    font-size: 25px;
}

.advertise>p {
    position: absolute;
    top: 4103px;
    left: 215px;
    width: 350px;
    font-weight: 450;
    color: #FFFFFF;
    font-size: 18px;
}

.home-foodpanda-app {
    position: absolute;
    top: 3900px;
    left: 650px;
}

.apple>img, .google>img, .huawei>img {
    margin-top: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #000000;
}

/* ------------- FIFTH-FRONT ------------- */

.heading6 {
    font-weight: 400;
    font-size: 33px;
    padding-top: 50px;
    padding-left: 60px;
}

.btn5 {
    background-color: #ff0087;
    padding: 15px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn5:hover {
    background-color: #fac5e2;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descriptive1 {
    background-color: #FFFFFF;
    position: absolute;
    top: 4800px;
    left: 60px;
    margin-top: 20px;
    width: 550px;
    height: 240px;
    border-radius: 20px;
    box-shadow: rgba(20, 20, 22, 0.2) 2px 7px 29px 0px;
    border-width: 1px;
    padding-top: 2px;
    padding-right: 30px;
    padding-left: 30px;
}

.heading7 {
    font-weight: 400;
    font-size: 25px;
}

/* ------------- LAST-FRONT ------------- */

.heading8 {
    width: 1200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 33px;
    padding-top: 250px;
    padding-left: 100px;
}

.box6>p {
    width: 1200px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 100px;
}

.heading9 {
    width: 1200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 33px;
    padding-left: 100px;
}

.box6>p>span {
    color: #ff0087;
}

hr {
    width: 1300px;
}

.heading10 {
    width: 1200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 28px;
    padding-left: 100px;
}

.sub-heading {
    width: 1200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
    padding-left: 100px;
}

.extra {
    color: #ff0087;
}

.end-heading {
    width: 1200px;
    margin-bottom: 170px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 17px;
    padding-left: 100px;
}

/* ------------- FOOTER ------------- */

.footer>p {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer>p>a {
    text-decoration: none;
    color: #000000;
}

.footer>p>a:hover {
    text-decoration: none;
    color: #ff0087;
}

/* ------------- FOOTER-LINKS ------------- */

.links>ul {
    list-style: none;
}

.links>ul>li {
    display: inline;
}

.links>ul>li>a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #ff0087;
}

.links>ul>li>a:hover {
    font-weight: 600;
    text-decoration: none;
    color: #8a0c42;
}

.links>.row1,.row2, .row3,.row4, .row5,.row6, .row7,.row8, .row9 {
    margin-top: 25px;
    margin-left: 400px;
}

.links>.row1>li>.c1 {
    margin-left: 260px;
}

.links>.row1>li>.c2 {
    margin-left: 180px;
}

.links>.row2>li>.c1 {
    margin-left: 53px;
}

.links>.row2>li>.c2 {
    margin-left: 104px;
}

.links>.row3>li>.c1 {
    margin-left: 240px;
}

.links>.row3>li>.c2 {
    margin-left: 59px;
}

.links>.row4>li>.c1 {
    margin-left: 244px;
}

.links>.row4>li>.c2 {
    margin-left: 107px;
}

.links>.row5>li>.c1 {
    margin-left: 50px;
}

.links>.row5>li>.c2 {
    margin-left: 184px;
}

.links>.row6>li>.c1 {
    margin-left: 182px;
}

.links>.row6>li>.c2 {
    margin-left: 65px;
}

.links>.row7>li>.c1 {
    margin-left: 235px;
}

.links>.row7>li>.c2 {
    margin-left: 23px;
}

.links>.row8>li>.c1 {
    margin-left: 43px;
}

.links>.row8>li>.c2 {
    margin-left: 95px;
}

/* ------------- FOOTER-ENDING ------------- */

.logo-ending {
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 70px;
}

.logo-ending1 {
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 700px;
}

.fa-instagram, .fa-facebook {
    cursor: pointer;
    margin-left: 30px;
}